h1 {
    padding: 30px 50px 0;
}

select {
    margin-left: 50px;
    font-size: 16px;
    width: 200px;
    height: 30px;
}

.line-separator {
    stroke: #333333;
    fill: none;
    stroke-width: 1px;
}

#drop_event {
    margin: 50px;
    padding: 30px;
    border: 2px solid rgba(50, 50, 170, 0.447);
    box-shadow: 0 0 10px #a3a6ff;
    border-radius: 10px;
}

div.tooltip {
    position: absolute;
    max-width: 300px;
    padding: 0 20px 10px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.text-right {
    text-align: right;
}

.tooltip .text-right {
    margin: 0;
}