h1 {
    padding: 30px 50px 0;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 40px;
}

select {
    margin-left: 50px;
    font-size: 16px;
    width: 200px;
    height: 30px;
    font-family: monospace;
}

.line-separator {
    stroke: #333333;
    fill: none;
    stroke-width: 1px;
}

#drop_event {
    margin: 20px 50px;
    padding: 30px;
    border: 2px solid rgba(50, 50, 170, 0.447);
    box-shadow: 0 0 10px #a3a6ff;
    border-radius: 10px;
}

div.tooltip {
    position: absolute;
    width: calc(100% - 60px);
    padding: 0 20px 10px;
    font: 12px sans-serif;
    background: rgb(63, 63, 63);
    color: #ffffff;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.text-right {
    text-align: right;
}

.tooltip .text-right {
    margin: 0;
}

.note {
    white-space: pre-wrap;
    text-overflow: ellipsis;
    overflow: hidden;
}